
%div#grid-progress.progress
  %div#grid-progress-tipo.indeterminate

%table#grid-basic.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th{:'data-column-id'=>"visitante_id", :'data-type'=>"numeric", 'data-visible'=>"false"} ID
      %th{:'data-column-id'=>"visita_id", :'data-formatter'=>"pix_avatar", 'data-header-css-class'=>"css-avatar"} Foto
      %th{:'data-column-id'=>"visitante", :'data-type'=>"string"} Visitante
      %th{:'data-column-id'=>"empresa", :'data-type'=>"string"} Empresa
      %th{:'data-column-id'=>"entrada", :'data-type'=>"date", 'data-formatter'=>"fecha", 'data-header-css-class'=>"css-fechas"} Entrada
      %th{:'data-column-id'=>"salida", :'data-type'=>"date", 'data-formatter'=>"fecha", 'data-header-css-class'=>"css-fechas"} Salida
      %th{:'data-column-id'=>"persona", :'data-type'=>"string"} Visita a
      %th{:'data-column-id'=>"acciones", :'data-formatter'=>"acciones", :'data-sortable'=>"false", 'data-header-css-class'=>"css-acciones", 'data-formatter'=>"acciones"} Acciones
  %tbody
    -@registros.each do |registro|
      %tr
        %td
          =registro.visitante.id rescue 0
          -# http://localhost:3001/visitantes/avatar/1778
        %td
          =registro.id rescue 0
        %td
          =registro.visitante.apellido + ' ' + registro.visitante.nombre rescue '--'
        %td
          =registro.visitante.empresa rescue '++'
        %td
          =registro.entrada
        %td
          =registro.salida
        %td
          =registro.persona.nombre rescue '**'
        %td

:javascript

  $(document).ready(function() {

    var gridBasic = $("#grid-basic").bootgrid({
      css: {
        icon: "icon glyphicon",
        iconColumns: "glyphicon-th-list",
        iconDown: "glyphicon-chevron-down",
        iconRefresh: "glyphicon-refresh",
        iconUp: "glyphicon-chevron-up"
      },
      navigation: 2,
      caseSensitive: false,
      rowCount: 50,
      labels: {
        all: "Todos",
        infos: "Mostrando del {{ctx.start}} al {{ctx.end}} de {{ctx.total}} registros",
        loading: "Cargando...",
        noResults: "No hay resultados",
        refresh: "Recargar",
        search: "Buscar"
      },
      searchSettings: {
        delay: 100,
        characters: 3
      },
      formatters: {
        fecha: function (column, row) {
          var f = row[column.id].length < 10 ? ' ' :  moment.utc(row[column.id], "YYYY-MM-DD HH:mm").local().format("ddd DD MMM YYYY HH:mm"); // 2018-04-03 15:05:23 UTC
          return "<span>" + f + "</span>";
        }/*,
        link_to_edit_visitante: function(column, row) {
          return "<div id='visitante-div'><a style='color: black;' href='visitantes/" + row.id + "/edit'><i class='material-icons' style='font-size: larger;'>edit</i>" + row.visitante + "</a></div>";
        }*/,
        acciones: function(column, row) {
          var html = "<a class='btn-floating tooltipped' data-tooltip='Editar visitante' data-position='bottom' style='color: black; width: 36px; height: 36px;' href='visitantes/" + row.visitante_id + "/edit'><i class='material-icons' style='font-size: larger;'>person</i></a>";
            //+ "<a class='btn-floating' title='Eliminar entrada' onclick=\"return confirm('¿Esta seguro de eliminar la entrada?');\" style='color: black; width: 36px; height: 36px;' href='visitas/delete/" + row.visita_id + "' ><i class='material-icons' style='font-size: larger;'>delete</i></a>"

          //  <a href="url_to_delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
          return html;
        },
        pix_avatar: function (column, row) {
          // http://localhost:3001/visitantes/avatar/1778
          var url = "<img class='avatar' src='visitantes/avatar/" + row.visitante_id + "'/>";
          return url;
        }

      }
    }).on("loaded.rs.jquery.bootgrid", function() {
      /* Executes after data is loaded and rendered */
      gridBasic.find(".command-edit").on("click", function(e) {
        alert("You pressed edit on row: " + $(this).data("row-id"));
      }).end().find(".command-delete").on("click", function(e) {
        alert("You pressed delete on row: " + $(this).data("row-id"));
      });
    });

  });
