
%form.col.s12.forma-filtro
  %div.row
    %div.input-field.col.s3
      %i.material-icons.prefix directions_walk
      %input#apellido.textos.validate{:type=>"text"}
      %label{:for=>"apellido"} Apellido visitante
    %div.input-field.col.s3
      %i.material-icons.prefix business
      %input#empresa.textos.validate{:type=>"text"}
      %label{:for=>"empresa"} Empresa visitante
    %div.input-field.col.s3
      %i.material-icons.prefix portrait
      %input#persona.textos.validate{:type=>"text"}
      %label{:for=>"persona"} Persona a quien visita
  %div.row
    %div.input-field.col.s3
      %i.material-icons.prefix date_range
      -# %input#fecha_inicial.datepicker
      %input#inicial.fechas{:type=>"date"}
      %label{:for=>"fecha_inicial"} Inicio
    %div.input-field.col.s3
      %i.material-icons.prefix date_range
      -# %input#fecha_final.datepicker
      %input#final.fechas{:type=>"date"}
      %label{:for=>"fecha_final"} Fin
  %div#row-btns.right-align
    -# %input( type="button" id="btnFiltrar3" value=" Filtrar " )
    %button#btnFiltrar.btn.btn-default.waves-effect.waves-light.red{type: "button"}
      Filtrar
      %i.material-icons.right filter_list
    %button#btnExcel.btn.btn-default.waves-effect.waves-light.red{type: "button"}
      Excel
      %i.material-icons.right file_download

%div#grid_visitas
  %span De momento, estoy vacio


:javascript

  $(document).ready(function() {

    $('.fechas').unbind().change(function(event) {
      filtrar(false);
    });
    $('.textos').unbind().bind("keyup", function(event){
      var val = this.value.trim();
      if(val.length >= 3 || event.keyCode ==13)  {
        setTimeout(function() {
          filtrar(false);
        }, 600);
      }
    });

    $('#btnFiltrar').unbind().click(function(event) {
      filtrar(false);
    });

    $('#btnExcel').unbind().click(function(event) {
      filtrar(true);
    });

    /* Al cargarse, por default filtrar Hoy */
    var today = moment().format('YYYY-MM-DD');
    document.getElementById("inicial").defaultValue = today;
    document.getElementById("final").defaultValue = today;
    filtrar(false);

  });

    function filtrar(isExcel){

      var inicial = $('#inicial').val();
      var final = $('#final').val();

      inicial = inicial.trim().length <=0 ? "nil" : inicial;
      final = final.trim().length <=0 ? "nil" : final;

      var apellido = $('#apellido').val().trim();
      var empresa = $('#empresa').val().trim();
      var persona = $('#persona').val().trim();

      if (!apellido || 0 === apellido.length) {
        apellido = null;
      }
      if (!empresa || 0 === empresa.length) {
        empresa = null;
      }
      if (!persona || 0 === persona.length) {
        persona = null;
      }

      var url = "main/grid/" + inicial + "/" + final + "/" + apellido + "/" + empresa + "/"  + persona;

      if (isExcel) {
        url = url + '.xlsx';
        window.open(url, "_self");
      } else {

        $.ajax({
          url: url,
          beforeSend: function() {
            $('#grid-progress-tipo').toggleClass('determinate indeterminate');
          },
          complete: function() {
            $('#grid-progress-tipo').toggleClass('indeterminate determinate');
          },
          success: function(result){

            $("#grid_visitas").html(result);
          },
          error: function (jqXHR, exception) {
            $("#grid_visitas").html("<h3>Error en el servidor. Intente recargando.</h3>");
          }
        });
      }
    };

