<h1>Editing Visitante</h1>

-#
  =form_for @visitante, html: {role:"form", method: :put} do |f|
    %form.col.s12.forma-filtro
      %div.row
        %div.input-field.col.s3
          %label{:for=>"apellido2"} Apellido visitante
          %input#apellido2.validate{:type=>"text", :value=>@visitante.apellido}
        %div.input-field.col.s3
          %label{:for=>"empresa2"} Empresa visitante
          -# %input#empresa2.validate{:type=>"text", :value=>@visitante.empresa}
          = f.text_field :empresa, {class: "form-control", id: "empresa2"}
        -#
          %button#btnSubmitEdit.btn.btn-default.waves-effect.waves-light{type: "submit", name: "action"}
            Guardar
            %i.material-icons.right save
        = f.submit "TheSubmit", class: "btn btn-default"

=form_for @visitante do |f|
  .form-group
    =f.label :apellido
    =f.text_field :apellido, {class: "form-control"}
  .form-group
    =f.label :nombre
    =f.text_field :nombre, {class: "form-control"}
  .form-group
    =f.label :empresa
    =f.text_field :empresa, {class: "form-control"}
  .form-group
    =f.label :tipo_copy
    =f.text_field :tipo, {class: "form-control"}
  .form-group
    = f.label :tipo
    -# = f.select(:tipo, List.items(foo))
    %div.input-field
      =f.select :tipo, @tipos, :id
  .form-group
    =f.label :nota
    =f.text_area :nota, {class: "form-control"}
  =f.submit "Guardar", class: "btn btn-default"


  -# = f.select(:manufacturer_id, options_from_collection_for_select(VehicleManufacturer.all, :id, :name, @object.manufacturer_id ), {}, required: true, id: "manufacturer-select")

  -#
    public tipos:TipoVisita[] = [
      new TipoVisita(0, 'Visitante'),
      new TipoVisita(1, 'Estudiante'),
      new TipoVisita(2, 'Proveedor'),
      new TipoVisita(3, 'Contratista'),
      new TipoVisita(4, 'Sub-contratista'),
      new TipoVisita(5, 'Ex-empleado'),
      new TipoVisita(6, 'Familiar'),
      new TipoVisita(7, 'Otro')
      ];

:javascript
  $(document).ready(function() {
    $('select').material_select();
  });
