<h1>Editing Visitante</h1>

-#
  =form_for @visitante, html: {role:"form", method: :put} do |f|
    %form.col.s12.forma-filtro
      %div.row
        %div.input-field.col.s3
          %label{:for=>"apellido2"} Apellido visitante
          %input#apellido2.validate{:type=>"text", :value=>@visitante.apellido}
        %div.input-field.col.s3
          %label{:for=>"empresa2"} Empresa visitante
          -# %input#empresa2.validate{:type=>"text", :value=>@visitante.empresa}
          = f.text_field :empresa, {class: "form-control", id: "empresa2"}
        -#
          %button#btnSubmitEdit.btn.btn-default.waves-effect.waves-light{type: "submit", name: "action"}
            Guardar
            %i.material-icons.right save
        = f.submit "TheSubmit", class: "btn btn-default"

=form_for @visitante do |f|
  .form-group
    =f.label :empresa
    =f.text_field :empresa, {class: "form-control"}
  =f.submit "Guardar", class: "btn btn-default"

