

=form_for @visitante do |f|

  .col.s12
    .card-panel
      .card-title
        %h2 Editar
      %div
        %div.left-editar
          %img{:src=> :"#{root_url}visitantes/avatar/#{f.object.id}", :class=>"img-avatar-edicion"}
        %div.right-editar
          .row.input-field
            =f.label :apellido
            =f.text_field :apellido, {class: "form-control"}
          .row.input-field
            =f.label :nombre
            =f.text_field :nombre, {class: "form-control"}
          .row.input-field
            =f.label :empresa
            =f.text_field :empresa, {class: "form-control"}
          .row
            =f.label :tipo,  'Tipo'
            =f.select :tipo, @tipos, {}, { :class => "form-control"}
          .row.input-field
            =f.label :nota
            =f.text_area :nota, {class: "materialize-textarea"}

      %div.card-action
        .row.right-align
          .input-field
            =f.submit "Guardar", class: "btn btn-default"


:javascript
  $(document).ready(function() {
    //$('select').material_select();
  });

  // request.base_url request.domain