#body-login {
  background-color: #ef4748; /*ef4748*/
  #login-area {


    .img-login {
      background: transparent url("/assets/sigre.png") center top no-repeat;
      padding-top: 320px;
      margin: 0 auto;
      margin-top: 40px;
      width: 640px;

      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
      filter: FlipV;
      -ms-filter: "FlipV";
    }

    .login-title {
      color:#fff;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
      font-size: 36px;
      text-align: center;
    }
    .login-message {
      margin-top: 20px;
      text-align: center;
      color: #ffd6d6;
    }
    .login-methods {
      margin-top: 20px;
      text-align: center;
    }
    button {
      padding: 1px 25px;
      font-size: 14px;
      background: #fafafa;
      color: #ef4748;
      /* @include rounded(8px); */
    }
  }
}
